/* Scrolling  */

::-webkit-scrollbar {
    width: .3em;
}
  
::-webkit-scrollbar-track {
    background:  #F8F7FC;
    border-radius: 100vw;
    margin-block: 0.5em;
}
  
::-webkit-scrollbar-thumb {
    background: #F71963;
    border: 0.25em solid #F71963;
    border-radius: 100vw;
}

/* Firefox scrolling */
@supports (scrollbar-color: #F71963 #F8F7FC) {
    * {
        scrollbar-color: #F71963 #F8F7FC;
    }
}

@font-face {
    font-family: "VTEXTrust Regular";
    src: url(./fonts/VTEXTrust-Regular.otf);
}

:root {
    --bg-1: #F8F7FC;
    --bg-2: #1155CC;
    --bg-3: #F71963;
    --bg-4: #5E6E84;
    --bg-5: #A1AAB7;
    --ff-regular: "VTEXTrust Regular";
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-regular), sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-1);
    padding: 2rem;
    line-height: 1.6;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.2rem;
}

.doc-content {
    padding: 0 1rem 3rem;
    grid-area: 1 / 1 / span 5 / span 1;
    margin: 60px 17% 0 0;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100% - 60px);
}

h1 {
    color: var(--bg-3);
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 0.5rem;
    page-break-after: avoid;
}

h2 {
    color: var(--bg-3);
    page-break-after:avoid;
}

h3 {
    color: var(--bg-3);
    page-break-after: avoid;
    margin: 0.5rem 0rem;
}

.text-link {
    color: var(--bg-2);
    text-decoration: underline;
}

.intro-content {
    padding: 1rem 0rem;
}

.bold-text {
    font-weight: bolder;
}

.italic-text {
    font-style: italic;
}


table {
    margin-bottom: 2rem;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-intro {
    padding-bottom: 1rem;
}

.table-internal {
    padding: 0.25rem 0.4rem;
    border: 1px solid var(--bg-4);
    font-size: 0.85rem;
}

.index-item {
    padding-bottom: 0.5rem;
}

.aside-content {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 0.5rem 1rem 3rem;
    font-size: 0.8rem;
    color: var(--bg-5);
    line-height: 1.7;
    position: fixed;
    height: calc(100% - 60px);
    left: 83%;
    right: 0;
    overflow-y: scroll;
    top: 60px;
}

.content {
    font-size: 0.9rem;
    font-weight: bold;   
}

.aside-list {
    text-align: left;
    padding-left: 1rem;
    border-left: 1px solid var(--bg-5);
    list-style: none;
    width: 20ch;
}

.aside-item {
    color: var(--bg-5);
}

.aside-subitem {
    border-left: 0px;
}

.aside-list a:hover {
	color: var(--bg-3);
}