/* Scrolling  */

::-webkit-scrollbar {
    width: .3em;
}
  
::-webkit-scrollbar-track {
    background:  #F8F7FC;
    border-radius: 100vw;
    margin-block: 0.5em;
}
  
::-webkit-scrollbar-thumb {
    background: #F71963;
    border: 0.25em solid #F71963;
    border-radius: 100vw;
}

/* Firefox scrolling */
@supports (scrollbar-color: #F71963 #F8F7FC) {
    * {
        scrollbar-color: #F71963 #F8F7FC;
    }
}

@font-face {
   font-family: "VTEXTrust Regular";
   src: url(./fonts/VTEXTrust-Regular.otf);
}

:root {
    --bg-1: #F8F7FC;
    --bg-2: #1155CC;
    --bg-3: #F71963;
    --bg-4: #5E6E84;
    --bg-5: #A1AAB7;
    --ff-regular: "VTEXTrust Regular";
    --fs-1: clamp(0.9375rem, 0.925rem + 0.0625vw, 1rem);
    --fs-2: clamp(1.125rem, 1.1rem + 0.125vw, 1.25rem);
    --fs-3: clamp(1.35rem, 1.3075rem + 0.2125vw, 1.5625rem);
    --fs-4: clamp(1.62rem, 1.5534rem + 0.3331vw, 1.9531rem);
    --fs-5: clamp(1.9438rem, 1.8443rem + 0.4975vw, 2.4413rem);
    --fs-6: clamp(2.3325rem, 2.1886rem + 0.7194vw, 3.0519rem);
    --fs-7: clamp(2.7994rem, 2.5963rem + 1.0156vw, 3.815rem);
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-regular), sans-serif;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-1);
    font-size: var(--fs-2);
    padding: 2rem;
    line-height: 1.6;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.2rem;
}

.flow > * + * {
    margin-top: 1.5em;
}

.doc-content {
    padding: 0 1rem 3rem;
    grid-area: 1 / 1 / span 5 / span 1;
    margin: 60px 20% 0 0;
    overflow-y: scroll;
    position: fixed;
    left: 0;
    top: 0;
    height: calc(100% - 60px);
}

h1, h2, h3, h4 {
    color: var(--bg-3);
    line-height: 1.3;
    page-break-after: avoid;
}

h1 {
    font-size: var(--fs-7);
    text-align: center;
}

h2 {
    font-size: var(--fs-6);
}

h3 {
    font-size: var(--fs-5);
}

h4 {
    font-size: var(--fs-4);
}

.text-link {
    color: var(--bg-2);
    text-decoration: underline;
}

.intro-content {
    padding: 1rem 0rem;
}

.bold-text {
    font-weight: bolder;
}

.italic-text {
    font-style: italic;
}


table {
    margin-bottom: 2rem;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-intro {
    padding-bottom: 1rem;
}

.table-internal {
    padding: 0.25rem 0.4rem;
    border: 1px solid var(--bg-4);
    font-size: var(--fs-1);
}

.index-item {
    padding-bottom: 0.5rem;
}

.aside-content {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 0.5rem 1rem 3rem;
    font-size: var(--fs-1);
    color: var(--bg-5);
    line-height: 1.7;
    position: fixed;
    height: calc(100% - 60px);
    left: 80%;
    right: 0;
    overflow-y: scroll;
    top: 60px;
}

.content {
    font-size: var(--fs-1);
    font-weight: bold;   
}

.aside-list {
    text-align: left;
    padding-left: 1rem;
    border-left: 1px solid var(--bg-5);
    list-style: none;
    width: 20ch;
}

.aside-item {
    color: var(--bg-5);
}

.aside-subitem {
    border-left: 0px;
}

.aside-list a:hover {
	color: var(--bg-3);
}