/* Mobile-first design
   Fonts: https://brand.vtex.com/brand-guidelines/##Typography*/

@font-face {
    font-family: "VTEXTrust Bold";
    src: url(./fonts/VTEXTrust-Bold.otf);
 }

 @font-face {
    font-family: "VTEXTrust Italic";
    src: url(./fonts/VTEXTrust-Italic.otf);
 }

@font-face {
   font-family: "VTEXTrust Regular";
   src: url(./fonts/VTEXTrust-Regular.otf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* html {
    color-scheme: light dark;
} */

:root {
    --bg-1: #F8F7FC;
    --bg-2: #FFE0EF;
    --bg-3: #F71963;
    --bg-4: #FFC4DD;
    --ff-regular: "VTEXTrust Regular";
    --ff-italic: "VTEXTrust Italic";
    --ff-bold: "VTEXTrust Bold";
    --col-regular: #000;
    --fs-100: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --fs-200: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --fs-300: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --fs-400: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: var(--ff-regular);
    height: 100%;
    background: linear-gradient(to bottom, #FFF, #F8F7FC, #FFE0EF);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

a, a:visited {
    text-decoration: none;
    cursor: pointer;
}



.logo {
    padding-top: 2rem;
    padding-left: 0;
    padding-bottom: 2rem;
}

.hero-img {
    background-color: red;
    height: 120px;
    width: 375px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--col-regular);
}

.lower > h6 {
    padding: 1rem;
    color: #e31c58;
    font-size: var(--fs-300);  
}

h4 {
    font-size: var(--fs-400);
    text-align: center;
}

h5 {
    font-size: var(--fs-300);
    text-align: center;
    padding: 1rem;
}

h6 {
    font-size: var(--fs-200);
    padding: 0.25rem;
}

p {
    padding: 0.25rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    background-color: #FFF; /* Temporary color just for testing */
    width: 300px;
    height: 180px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    outline: 1px solid #E7E9EE;
}

.material-symbols-outlined {
    color: #000;
}

.upper {
    height: 35%;
    background-color: #E7E9EE;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper:hover {
    background-color: #a7a9ad;
}

.others {
    background-color: #E7E9EE;
    margin-top: 1rem;
    border-radius: 25px 25px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: -1rem;
    text-align: center;
}

.others > .flex > .left > a:hover, .backTop > a:hover,
.others > .flex > .middle > a:hover, .backTop > a:hover,
.others > .flex > .right > a:hover, .backTop > a:hover {
    text-decoration: underline;
}

.othersIcon {
    text-align: center;
    margin-top: 1rem;
}

.backTop {
    margin: 1rem;
}

footer {
    text-align: center;
}

.backTop > a{
    color: #000;
}

.line {
    opacity: 0.1;
}

.credits {
    font-size: 0.8rem;
}

/* Tablet and medium size screens */
@media only screen and (min-width: 615px) and (max-width: 1365px) {
    .flex {
        display: flex;
        justify-content: space-around;
        gap: 7.5rem;
    }
}

/* HD monitors and above */
@media only screen and (min-width: 1280px) {
    body {
        height: 100vh;
    }

    .cards {
        width: 35%;
        margin: auto;
    }

    .card {
        flex-basis: calc(50% - 10px);
        justify-content: center;
    }

    .others {
        padding-top: 1.2rem;
    }


    .flex {
        display: flex;
        justify-content: space-around;
        gap: 15rem;
    }

    .backTop {
        display: none;
    }

}