/* Fonts: https://brand.vtex.com/brand-guidelines/##Typography */

@font-face {
    font-family: "VTEXTrust Bold";
    src: url(./fonts/VTEXTrust-Bold.otf);
 }

 @font-face {
    font-family: "VTEXTrust Italic";
    src: url(./fonts/VTEXTrust-Italic.otf);
 }

@font-face {
   font-family: "VTEXTrust Regular";
   src: url(./fonts/VTEXTrust-Regular.otf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color-scheme: light dark;
}

/* Colors: https://admin-ui.vercel.app/foundations/colors */
:root {
    --bg-1: #FFF;
    --ff-regular: "VTEXTrust Regular";
    --ff-italic: "VTEXTrust Italic";
    --ff-bold: "VTEXTrust Bold";
    --fc-regular: #000;
}

/*
========
 Sections 
========
- Home
- Header
- Main
- Cards
- Portal
- Media Queries*/

/*Home*/

body {
    background: var(--bg-1);
    font-family: var(--ff-regular);
    line-height: 1.7;
    color: var(--fc-regular);
}

/* Responsive margins */
.wrapper {
    width: min(100% - 3rem);
    margin-inline: auto;
}

/* Horizontal spacing between elements */
.flow > * + * {
    margin-top: 2em;
}

button {
    padding: 0.5rem 2em;
    margin: 1rem 0 1rem;
}

/*Header*/

header {
    height: 4.75rem;
}

.center p {
    display: inline-block;
    padding-left: 1em;
}

/* Main */

main {
    padding: 0 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    width: 80%;
}

.left {
    padding: 2em;
    width: 25%;
}

.right {
    padding: 2em;
    width: 70%;
}

/* Cards */

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    padding: 2rem;
    border: 1px solid #000;
    border-radius: 5px;
}

.element {
    padding: 1rem;
    padd
}

.element h3 {
    text-align: center;
    padding-bottom: 1em;
}

/* Portal */

.portals {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.portal {
    padding: 2rem 3rem 1.3rem;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: right;
}

.portal h3 {
    padding-bottom: 1em;
    text-align: left;
}

.portal button {
    margin-top: 1em;
}

/*Media Queries*/

@media only screen and (min-width: 600px) {

    body {
        height: 100vh;
    }
}