@font-face {
    font-family: "VTEXTrust Regular";
    src: url(./fonts/VTEXTrust-Regular.otf);
}

:root {
    --bg-1: #F8F7FC;
    --bg-2: #1155CC;
    --bg-3: #F71963;
    --bg-4: #5E6E84;
    --ff-regular: "VTEXTrust Regular";
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-regular), sans-serif;
}

body {
    background: var(--bg-1);
    text-align: justify;
}

h1 {
    color: var(--bg-3);
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 0.5rem;
    page-break-after: avoid;
}

h2, h3, h4, h5 {
    color: var(--bg-3);
    page-break-after: avoid;
    margin: 0.5rem 0rem;
}

p {
    text-indent: 3rem;
    text-align: justify;
}

.doc-content {
    padding: 6rem;
    line-height: 1.5;
}

.update-info{
    color: var(--bg-4);
    text-align: right;
    font-size: 0.8rem;
}

.text-link {
    color: var(--bg-2);
    text-decoration: underline;
}

.bold-text {
    font-weight: bolder;
}

.italic-text {
    font-style: italic;
}

.underline-text {
    text-decoration: underline;
}

.superscript-text {
    vertical-align: super;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

li {
    margin-left:3rem;    
    font-size: 0.9rem;
}

.bullet {
    line-height: 1.6;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
}

.table-intro {
    padding-bottom: 1rem;
}

.table-internal {
    padding: 0.25rem 0.4rem;
    border: 1px solid var(--bg-4);
    font-size: 0.85rem;
}

.c30{
    color:#666666;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10pt;
    font-family:"Lato";
    font-style:italic
}
.c28{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:right
}

.c48{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:center
}

.c44{
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    color:#0000ee;
    text-decoration:underline
}
.c37{
    color:#f51963;
    text-decoration:none;
    vertical-align:baseline;
    font-style:normal
}
.c45{
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    text-decoration:underline
}
.c40{
    font-size:31pt;
    color:#f51963
}
.c18{
    height:12pt
}

.c49{
    margin-left:72pt
}

.c60{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:138pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c74{
    border-right-style:solid;
    padding:2pt 0pt 2pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#000000;
    vertical-align:bottom;
    border-right-color:#000000;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:175pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.c8{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:180.8pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c44{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:275.6pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.c52{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:151.2pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c22{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:228pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.c62{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:153.8pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c66{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:249.8pt;
    border-top-color:#000000;
    border-bottom-style:solid
}

.c38{
    border-right-style:solid;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#ffffff;
    border-left-style:solid;
    border-bottom-width:0pt;
    border-bottom-style:solid;
    padding-right:0pt
}
.c13{
    -webkit-text-decoration-skip:none;
    color:#f71963;
    font-weight:400;
    text-decoration:underline;
    vertical-align:baseline;
    text-decoration-skip-ink:none;
    font-size:11pt;
    font-family:"Helvetica Neue";
    font-style:normal
}
.c27{
    -webkit-text-decoration-skip:none;
    color:#f71963;
    text-decoration:underline;
    vertical-align:baseline;
    text-decoration-skip-ink:none;
    font-size:11pt;
    font-style:normal
}
.c14{
    color:#142032;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Helvetica Neue";
    font-style:normal
}

.c39{
    margin-left:7.1pt;
    padding-top:0pt;
    list-style-position:inside;
    text-indent:45pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}

.c45{
    font-weight:300;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Helvetica Neue"
}

.c30{
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    color:#1155cc;
    text-decoration:underline
}

.c84{
    padding-top:0pt;
    padding-bottom:10pt;
    line-height:1.25;
    text-align:right
}
.c9{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:center
}

.c48{
    background-color:#ffffff;
    padding:72pt 86.5pt 72pt 72pt
}

.c53{
    font-family:"Helvetica Neue";
    font-weight:300
}

.c19{
    background-color:#ffffff;
    color:#232323
}
.c76{
    text-indent:3.5pt
}

.c4{
    height:0pt
}
.c18{
    margin-left:18pt
}

.c10{
    color:#70757a
}

.c59{
    background-color:#ead1dc
}

.c86{
    color:#ff0000
}
.c87{
    color:#142032
}

/* 
c0, c1, c2, c3, c4, c5, c6, c7, c8, c11, c12, c13, c14, c15, c16, c17, c19, c20, c21, c22, c23, c24, c25, c26, c27, c28, c29, c30, c31, c32, c33, c34, c35, c36, c37, c38, c39, c40, c41, c42, c43, c46, c47, c49, c50, c51, c52, c53, c54, c55, c56, c57, c58, c61, c64, c65, c67, c68, c69, c70, c71, c72, c73, c75, c77, c78, c79, c80, c81, c82, c85, c88, <span>
 */