header {
    height: 33vh;
    background-color: #E7E9EE;
}

.cards {
    background-color: #F8F7FC;
    margin-top: 5rem;
}

.sidebar nav>ul>li>a>p>.material-symbols-outlined {
    color: black;
}

h1 {
    display: inline-block;
    font-size: 4rem;
    padding-top: 4.5rem;
    margin-left: 3rem;
    position: relative;
    border-bottom: 5px solid #e31c58;
}

h6 {
    padding-top: 2rem;
    padding-left: 3rem;
    font-size: 1.3rem;
}

/* .underline {
    /* content: ''; 
    display: block;
    position: absolute;
    bottom: 1;
    left: 3;
    width: 22.5%;
    height: 5px;
    background-color: #e31c58;
} */

.menuOptions {
    margin-top: -1.5rem;
}

.menu {
    text-align: center;
    font-size: 1.3rem;
}

.upper {
    height: 55px;
}

.toggleMenu {
    color: black;
    margin: 0.5rem;
    margin-left: 1.5rem;
    scale: 1.3;
}

.logo {
    padding: 0;
    margin: 1;
}

.links {
    display: none !important;
}

/* li:hover {
    background-color: #f8f7fc;
} */
