@import url(https://themes.googleusercontent.com/fonts/css?kit=IQHow_FEYlDC4Gzy_m8fcltXRa8TVwTICgirnJhmVJw);
ul.lst-kix_kpjw4t9urr1s-5{
    list-style-type:none
}
ul.lst-kix_kpjw4t9urr1s-6{
    list-style-type:none
}
ul.lst-kix_kpjw4t9urr1s-7{
    list-style-type:none
}
ul.lst-kix_kpjw4t9urr1s-8{
    list-style-type:none
}
ul.lst-kix_kpjw4t9urr1s-1{
    list-style-type:none
}
ul.lst-kix_kpjw4t9urr1s-2{
    list-style-type:none
}
ul.lst-kix_kpjw4t9urr1s-3{
    list-style-type:none
}
ul.lst-kix_hq3c54kurdyd-1{
    list-style-type:none
}
ul.lst-kix_kpjw4t9urr1s-4{
    list-style-type:none
}
ul.lst-kix_hq3c54kurdyd-0{
    list-style-type:none
}
.lst-kix_hq3c54kurdyd-1>li:before{
    content:"\0025cb "
}
.lst-kix_hq3c54kurdyd-2>li:before{
    content:"\0025a0 "
}
.lst-kix_hq3c54kurdyd-3>li:before{
    content:"\0025cf "
}
ul.lst-kix_ajs1lyjtnmm-6{
    list-style-type:none
}
ul.lst-kix_ajs1lyjtnmm-5{
    list-style-type:none
}
ul.lst-kix_ajs1lyjtnmm-8{
    list-style-type:none
}
ul.lst-kix_ajs1lyjtnmm-7{
    list-style-type:none
}
ul.lst-kix_ajs1lyjtnmm-2{
    list-style-type:none
}
ul.lst-kix_ajs1lyjtnmm-1{
    list-style-type:none
}
ul.lst-kix_ajs1lyjtnmm-4{
    list-style-type:none
}
ul.lst-kix_ajs1lyjtnmm-3{
    list-style-type:none
}
.lst-kix_ajs1lyjtnmm-5>li:before{
    content:"\0025a0 "
}
ul.lst-kix_ajs1lyjtnmm-0{
    list-style-type:none
}
ul.lst-kix_kpjw4t9urr1s-0{
    list-style-type:none
}
.lst-kix_hq3c54kurdyd-0>li:before{
    content:"\0025cf "
}
.lst-kix_ajs1lyjtnmm-4>li:before{
    content:"\0025cb "
}
.lst-kix_ajs1lyjtnmm-6>li:before{
    content:"\0025cf "
}
.lst-kix_ajs1lyjtnmm-7>li:before{
    content:"\0025cb "
}
.lst-kix_ajs1lyjtnmm-8>li:before{
    content:"\0025a0 "
}
.lst-kix_hq3c54kurdyd-4>li:before{
    content:"\0025cb "
}
.lst-kix_hq3c54kurdyd-6>li:before{
    content:"\0025cf "
}
.lst-kix_hq3c54kurdyd-5>li:before{
    content:"\0025a0 "
}
.lst-kix_hq3c54kurdyd-8>li:before{
    content:"\0025a0 "
}
.lst-kix_hq3c54kurdyd-7>li:before{
    content:"\0025cb "
}
.lst-kix_kpjw4t9urr1s-0>li:before{
    content:"\0025cf "
}
.lst-kix_kpjw4t9urr1s-1>li:before{
    content:"\0025cb "
}
.lst-kix_kpjw4t9urr1s-2>li:before{
    content:"\0025a0 "
}
.lst-kix_kpjw4t9urr1s-4>li:before{
    content:"\0025cb "
}
.lst-kix_kpjw4t9urr1s-3>li:before{
    content:"\0025cf "
}
.lst-kix_kpjw4t9urr1s-5>li:before{
    content:"\0025a0 "
}
.lst-kix_kpjw4t9urr1s-8>li:before{
    content:"\0025a0 "
}
.lst-kix_kpjw4t9urr1s-7>li:before{
    content:"\0025cb "
}
.lst-kix_kpjw4t9urr1s-6>li:before{
    content:"\0025cf "
}
.lst-kix_ajs1lyjtnmm-2>li:before{
    content:"\0025a0 "
}
.lst-kix_ajs1lyjtnmm-1>li:before{
    content:"\0025cb "
}
.lst-kix_ajs1lyjtnmm-3>li:before{
    content:"\0025cf "
}
.lst-kix_ajs1lyjtnmm-0>li:before{
    content:"\0025cf "
}
li.li-bullet-0:before{
    margin-left:-18pt;
    white-space:nowrap;
    display:inline-block;
    min-width:18pt
}
ul.lst-kix_hq3c54kurdyd-3{
    list-style-type:none
}
ul.lst-kix_hq3c54kurdyd-2{
    list-style-type:none
}
ul.lst-kix_hq3c54kurdyd-5{
    list-style-type:none
}
ul.lst-kix_hq3c54kurdyd-4{
    list-style-type:none
}
ul.lst-kix_hq3c54kurdyd-7{
    list-style-type:none
}
ul.lst-kix_hq3c54kurdyd-6{
    list-style-type:none
}
ul.lst-kix_hq3c54kurdyd-8{
    list-style-type:none
}
ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c3{
    margin-left:36pt;
    padding-top:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
}
.c7{
    margin-left:36pt;
    padding-top:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify
}
.c19{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:14pt;
    font-family:"Arial";
    font-style:normal
}
.c2{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    height:11pt
}
.c15{
    padding-top:0pt;
    text-indent:36pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify
}
.c1{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c17{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify;
    height:11pt
}
.c10{
    color:#f51963;
    text-decoration:none;
    vertical-align:baseline;
    font-size:12pt;
    font-family:"Arial";
    font-style:normal
}
.c12{
    color:#f51963;
    text-decoration:none;
    vertical-align:baseline;
    font-size:31pt;
    font-family:"Montserrat";
    font-style:normal
}
.c11{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:center
}
.c6{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
}
.c20{
    color:#000000;
    text-decoration:none;
    vertical-align:baseline;
    font-size:12pt;
    font-family:"Arial";
    font-style:normal
}
.c16{
    color:#000000;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c21{
    color:#f51963;
    text-decoration:none;
    vertical-align:baseline;
    font-size:14pt;
    font-style:normal
}
.c5{
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    color:#1155cc;
    text-decoration:underline
}
.c4{
    background-color:#ffffff;
    max-width:451.4pt;
    padding:72pt 72pt 72pt 72pt
}
.c14{
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    text-decoration:underline
}
.c8{
    padding:0;
    margin:0
}
.c9{
    color:inherit;
    text-decoration:inherit
}
.c22{
    font-size:14pt;
    color:#f51963
}
.c0{
    font-weight:700
}
.c18{
    text-indent:36pt
}
.c23{
    margin-left:36pt
}
.c13{
    font-family:"Montserrat"
}
.title{
    padding-top:0pt;
    color:#000000;
    font-size:26pt;
    padding-bottom:3pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:0pt;
    color:#666666;
    font-size:15pt;
    padding-bottom:16pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
h1{
    padding-top:20pt;
    color:#000000;
    font-size:20pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h2{
    padding-top:18pt;
    color:#000000;
    font-size:16pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:16pt;
    color:#434343;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:14pt;
    color:#666666;
    font-size:12pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}
