@font-face {
    font-family: "VTEXTrust Regular";
    src: url(./fonts/VTEXTrust-Regular.otf);
}

:root {
    --bg-1: #F8F7FC;
    --bg-2: #1155CC;
    --bg-3: #F71963;
    --bg-4: #5E6E84;
    --ff-regular: "VTEXTrust Regular";
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-regular), sans-serif;
}

body {
    background: var(--bg-1);
    text-align: justify;
}

h1 {
    color: var(--bg-3);
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 0.5rem;
    page-break-after: avoid;
}

h2, h3, h4 {
    color: var(--bg-3);
    page-break-after: avoid;
    margin: 0.5rem 0rem;
}

p {
    text-indent: 3rem;
    text-align: justify;
}

.doc-content {
    padding: 6rem;
    line-height: 1.5;
}

.update-info{
    color: var(--bg-4);
    text-align: right;
    font-size: 0.8rem;
}

.text-link {
    color: var(--bg-2);
    text-decoration: underline;
}

.bold-text {
    font-weight: bolder;
}

.italic-text {
    font-style: italic;
}

li {
    margin-left:3rem;    
    font-size: 0.9rem;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
}

.table-intro {
    padding-bottom: 1rem;
}

.table-internal {
    padding: 0.25rem 0.4rem;
    border: 1px solid var(--bg-4);
    font-size: 0.85rem;
}