@import url(https://themes.googleusercontent.com/fonts/css?kit=IQHow_FEYlDC4Gzy_m8fcltXRa8TVwTICgirnJhmVJw);
ul.lst-kix_c5ehyzc31zw-0{
    list-style-type:none
}
ul.lst-kix_c5ehyzc31zw-1{
    list-style-type:none
}
ul.lst-kix_c5ehyzc31zw-2{
    list-style-type:none
}
ul.lst-kix_c5ehyzc31zw-3{
    list-style-type:none
}
ul.lst-kix_c5ehyzc31zw-4{
    list-style-type:none
}
ul.lst-kix_c5ehyzc31zw-5{
    list-style-type:none
}
ul.lst-kix_c5ehyzc31zw-6{
    list-style-type:none
}
ul.lst-kix_c5ehyzc31zw-7{
    list-style-type:none
}
ul.lst-kix_c5ehyzc31zw-8{
    list-style-type:none
}
.lst-kix_c5ehyzc31zw-7>li:before{
    content:"\0025cb "
}
.lst-kix_c5ehyzc31zw-8>li:before{
    content:"\0025a0 "
}
ul.lst-kix_x3ydrs3gqwzq-0{
    list-style-type:none
}
.lst-kix_c5ehyzc31zw-1>li:before{
    content:"\0025cb "
}
.lst-kix_c5ehyzc31zw-3>li:before{
    content:"\0025cf "
}
.lst-kix_c5ehyzc31zw-2>li:before{
    content:"\0025a0 "
}
.lst-kix_c5ehyzc31zw-6>li:before{
    content:"\0025cf "
}
ul.lst-kix_x3ydrs3gqwzq-8{
    list-style-type:none
}
ul.lst-kix_x3ydrs3gqwzq-7{
    list-style-type:none
}
ul.lst-kix_x3ydrs3gqwzq-6{
    list-style-type:none
}
ul.lst-kix_x3ydrs3gqwzq-5{
    list-style-type:none
}
.lst-kix_c5ehyzc31zw-5>li:before{
    content:"\0025a0 "
}
ul.lst-kix_x3ydrs3gqwzq-4{
    list-style-type:none
}
ul.lst-kix_x3ydrs3gqwzq-3{
    list-style-type:none
}
ul.lst-kix_x3ydrs3gqwzq-2{
    list-style-type:none
}
ul.lst-kix_x3ydrs3gqwzq-1{
    list-style-type:none
}
.lst-kix_c5ehyzc31zw-4>li:before{
    content:"\0025cb "
}
.lst-kix_x3ydrs3gqwzq-3>li:before{
    content:"\0025cf "
}
.lst-kix_x3ydrs3gqwzq-5>li:before{
    content:"\0025a0 "
}
.lst-kix_x3ydrs3gqwzq-4>li:before{
    content:"\0025cb "
}
.lst-kix_x3ydrs3gqwzq-8>li:before{
    content:"\0025a0 "
}
.lst-kix_x3ydrs3gqwzq-1>li:before{
    content:"\0025cb "
}
.lst-kix_x3ydrs3gqwzq-2>li:before{
    content:"\0025a0 "
}
.lst-kix_c5ehyzc31zw-0>li:before{
    content:"\0025cf "
}
.lst-kix_x3ydrs3gqwzq-7>li:before{
    content:"\0025cb "
}
.lst-kix_x3ydrs3gqwzq-6>li:before{
    content:"\0025cf "
}
ul.lst-kix_qp9kmqijwk9c-4{
    list-style-type:none
}
ul.lst-kix_qp9kmqijwk9c-3{
    list-style-type:none
}
ul.lst-kix_qp9kmqijwk9c-2{
    list-style-type:none
}
.lst-kix_qp9kmqijwk9c-0>li:before{
    content:"\0025cf "
}
ul.lst-kix_qp9kmqijwk9c-1{
    list-style-type:none
}
ul.lst-kix_qp9kmqijwk9c-0{
    list-style-type:none
}
.lst-kix_qp9kmqijwk9c-2>li:before{
    content:"\0025a0 "
}
ul.lst-kix_qp9kmqijwk9c-8{
    list-style-type:none
}
ul.lst-kix_qp9kmqijwk9c-7{
    list-style-type:none
}
li.li-bullet-0:before{
    margin-left:-18pt;
    white-space:nowrap;
    display:inline-block;
    min-width:18pt
}
ul.lst-kix_qp9kmqijwk9c-6{
    list-style-type:none
}
.lst-kix_qp9kmqijwk9c-1>li:before{
    content:"\0025cb "
}
ul.lst-kix_qp9kmqijwk9c-5{
    list-style-type:none
}
.lst-kix_qp9kmqijwk9c-6>li:before{
    content:"\0025cf "
}
.lst-kix_qp9kmqijwk9c-8>li:before{
    content:"\0025a0 "
}
.lst-kix_x3ydrs3gqwzq-0>li:before{
    content:"\0025cf "
}
.lst-kix_qp9kmqijwk9c-3>li:before{
    content:"\0025cf "
}
.lst-kix_qp9kmqijwk9c-7>li:before{
    content:"\0025cb "
}
.lst-kix_qp9kmqijwk9c-4>li:before{
    content:"\0025cb "
}
.lst-kix_qp9kmqijwk9c-5>li:before{
    content:"\0025a0 "
}
ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c4{
    border-right-style:solid;
    padding:2pt 2pt 2pt 2pt;
    border-bottom-color:#cccccc;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#cccccc;
    vertical-align:bottom;
    border-right-color:#cccccc;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:125.2pt;
    border-top-color:#cccccc;
    border-bottom-style:solid
}
.c13{
    border-right-style:solid;
    padding:2pt 2pt 2pt 2pt;
    border-bottom-color:#cccccc;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#cccccc;
    vertical-align:bottom;
    border-right-color:#cccccc;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:51.8pt;
    border-top-color:#cccccc;
    border-bottom-style:solid
}
.c2{
    border-right-style:solid;
    padding:2pt 2pt 2pt 2pt;
    border-bottom-color:#cccccc;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#cccccc;
    vertical-align:bottom;
    border-right-color:#cccccc;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:276pt;
    border-top-color:#cccccc;
    border-bottom-style:solid
}
.c5{
    margin-left:36pt;
    padding-top:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
}
.c1{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c6{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:10pt;
    font-family:"Arial";
    font-style:normal
}
.c11{
    color:#f51963;
    text-decoration:none;
    vertical-align:baseline;
    font-size:14pt;
    font-family:"Montserrat";
    font-style:normal
}
.c15{
    color:#f51963;
    text-decoration:none;
    vertical-align:baseline;
    font-size:31pt;
    font-family:"Montserrat";
    font-style:normal
}
.c20{
    color:#000000;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c21{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:center
}
.c10{
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    color:#1155cc;
    text-decoration:underline
}
.c8{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:left
}
.c19{
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto
}
.c18{
    background-color:#ffffff;
    max-width:468pt;
    padding:72pt 72pt 72pt 72pt
}
.c17{
    orphans:2;
    widows:2
}
.c3{
    padding:0;
    margin:0
}
.c16{
    color:inherit;
    text-decoration:inherit
}
.c7{
    height:15.8pt
}
.c14{
    height:11pt
}
.c9{
    font-style:italic
}
.c12{
    font-size:10pt
}
.c0{
    font-weight:700
}
.title{
    padding-top:0pt;
    color:#000000;
    font-size:26pt;
    padding-bottom:3pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:0pt;
    color:#666666;
    font-size:15pt;
    padding-bottom:16pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
h1{
    padding-top:20pt;
    color:#000000;
    font-size:20pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h2{
    padding-top:18pt;
    color:#000000;
    font-size:16pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:16pt;
    color:#434343;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:14pt;
    color:#666666;
    font-size:12pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}
