@font-face {
    font-family: "VTEXTrust Regular";
    src: url(./fonts/VTEXTrust-Regular.otf);
}

:root {
    --bg-1: #F8F7FC;
    --bg-2: #1155CC;
    --bg-3: #F71963;
    --bg-4: #5E6E84;
    --bg-5: #A1AAB7;
    --ff-regular: "VTEXTrust Regular";
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-regular), sans-serif;
}

body {
    background: var(--bg-1);
    padding: 2rem;
    text-align: justify;
    line-height: 1.6;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap: 0.2rem;
}

.doc-content {
    padding: 0 1rem;
    grid-area: 1 / 1 / span 5 / span 1;
}

.update-info{
    color: var(--bg-4);
    text-align: right;
    font-size: 0.8rem;
}

h1 {
    color: var(--bg-3);
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 0.5rem;
    page-break-after: avoid;
}

h2, h3, h4 {
    color: var(--bg-3);
    page-break-after: avoid;
    margin: 0.5rem 0rem;
}

p {
    text-indent: 3rem;
    text-align: justify;
}

.text-link {
    color: var(--bg-2);
    text-decoration: underline;
}

.intro-content {
    padding: 1rem 0rem;
}

.bold-text {
    font-weight: bolder;
}

.italic-text {
    font-style: italic;
}

.underline-text {
    text-decoration: underline;
}

li {
    margin-left:3rem;    
    font-size: 0.9rem;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
}

.table-intro {
    padding-bottom: 1rem;
}

.table-internal {
    padding: 0.25rem 0.4rem;
    border: 1px solid var(--bg-4);
    font-size: 0.85rem;
}

aside {
    position: sticky;
    right: 0;
    top: 0;
}

.aside-content {
    grid-area: 1 / 2 / span 1 / span 1;
    padding: 0.5rem;
    font-size: 0.8rem;
    color: var(--bg-5);
    line-height: 1.7;
}

.content {
    font-size: 0.9rem;
    font-weight: bold;   
}

.aside-list {
    text-align: left;
    padding-left: 1rem;
    border-left: 1px solid var(--bg-5);
    list-style: none;
    width: 20ch;
}

.aside-list > li {
    margin-left: 0;
}

nav > p {
    text-indent: 0;
}

.aside-item {
    color: var(--bg-5);    
}

.aside-subitem {
    border-left: 0px;
}

.aside-list a:hover {
	color: var(--bg-3);
}
