@import url(https://themes.googleusercontent.com/fonts/css?kit=r3oQQBWBLofdqMg7Xagtphmx_9IXfkwuEX_E26t7NMz0vzZTLk4Jh8uoFf3Lfl2HTSYYpxu6LyRy86R4tfOvI67RBnmvcD1wwJ4H2f3B5s2n0-b5Z5gVS6nv4NT1vlQB5iSTYj4vDBHyLa98ibIdNTQohpB63wESkm3OgpHs-Jc63HTsdhlAa82Js8xEFOQ8);
ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c63{
    border-right-style:solid;
    padding-top:0pt;
    border-top-width:0pt;
    border-right-width:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.7142857142857142;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#ffffff;
    border-left-style:solid;
    border-bottom-width:0pt;
    border-bottom-style:solid;
    orphans:2;
    widows:2;
    text-align:left;
    padding-right:0pt
}
.c109{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:1pt;
    border-top-style:solid;
    background-color:#cfe2f3;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:452.2pt;
    border-top-color:#ffffff;
    border-bottom-style:solid
}
.c50{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:234pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.c67{
    border-right-style:solid;
    border-top-width:0pt;
    border-right-width:0pt;
    padding-left:0pt;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#ffffff;
    border-left-style:solid;
    border-bottom-width:0pt;
    border-bottom-style:solid;
    padding-right:0pt
}
.c91{
    border-right-style:solid;
    padding-top:0pt;
    border-top-width:0pt;
    border-right-width:0pt;
    padding-bottom:3.8pt;
    line-height:1.15;
    border-top-style:solid;
    border-bottom-width:0pt;
    border-bottom-style:solid;
    text-align:left;
    padding-right:0pt
}
.c16{
    background-color:#ffffff;
    margin-left:-12pt;
    padding-top:-9pt;
    padding-bottom:-9pt;
    line-height:1.46668;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left;
    margin-right:-6pt
}
.c24{
    background-color:#ffffff;
    margin-left:-12pt;
    padding-top:-9pt;
    padding-bottom:-9pt;
    line-height:1.46668;
    orphans:2;
    widows:2;
    text-align:left;
    margin-right:-6pt;
    height:11pt
}
.c43{
    background-color:#ffffff;
    margin-left:-12pt;
    padding-top:-9pt;
    padding-bottom:-9pt;
    line-height:1.46668;
    orphans:2;
    widows:2;
    text-align:left;
    margin-right:-6pt
}
.c56{
    padding-top:20pt;
    padding-bottom:6pt;
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left;
    height:20pt
}
.c2{
    color:#f51963;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:14pt;
    font-family:"Arial";
    font-style:normal
}
.c32{
    color:#1d1c1d;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11.5pt;
    font-family:"Arial";
    font-style:normal
}
.c38{
    padding-top:6pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    height:11pt
}
.c19{
    color:#f71963;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Helvetica Neue";
    font-style:normal
}
.c22{
    padding-top:12pt;
    padding-bottom:12pt;
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:justify
}
.c21{
    padding-top:18pt;
    padding-bottom:6pt;
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.c59{
    padding-top:16pt;
    padding-bottom:4pt;
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.c0{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial";
    font-style:normal
}
.c4{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify;
    height:11pt
}
.c1{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:20pt;
    font-family:"Arial";
    font-style:normal
}
.c3{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left;
    height:11pt
}
.c14{
    padding-top:12pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify
}
.c53{
    padding-top:6pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
}
.c28{
    padding-top:12pt;
    padding-bottom:12pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify
}
.c45{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial"
}
.c51{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.25;
    orphans:2;
    widows:2;
    text-align:justify
}
.c13{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
}
.c20{
    -webkit-text-decoration-skip:none;
    color:#1155cc;
    font-weight:400;
    text-decoration:underline;
    text-decoration-skip-ink:none;
    font-family:"Helvetica Neue"
}
.c7{
    color:#242424;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Arial"
}
.c12{
    padding-top:0pt;
    padding-bottom:10pt;
    line-height:1.25;
    orphans:2;
    widows:2;
    text-align:justify
}
.c64{
    padding-top:12pt;
    padding-bottom:12pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:left
}
.c31{
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:16pt;
    font-family:"Arial";
    font-style:normal
}
.c10{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify
}
.c80{
    padding-top:20pt;
    padding-bottom:6pt;
    line-height:1.15;
    page-break-after:avoid;
    text-align:left
}
.c36{
    margin-left:36pt;
    padding-top:3pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}
.c52{
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-family:"Helvetica Neue";
    font-style:normal
}
.c76{
    padding-top:18pt;
    padding-bottom:10pt;
    line-height:1.25;
    page-break-after:avoid;
    text-align:justify
}
.c82{
    color:#666666;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-family:"Lato"
}
.c66{
    text-decoration:none;
    vertical-align:baseline;
    font-size:12pt;
    font-family:"Lato";
    font-style:normal
}
.c94{
    padding-top:18pt;
    padding-bottom:6pt;
    line-height:1.15;
    page-break-after:avoid;
    text-align:justify
}
.c48{
    background-color:#ffffff;
    font-size:12pt;
    font-family:"Roboto";
    color:#202124;
    font-weight:700
}
.c5{
    margin-left:18pt;
    padding-top:3pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}
.c81{
    padding-top:16pt;
    padding-bottom:10pt;
    line-height:1.25;
    page-break-after:avoid;
    text-align:justify
}
.c78{
    color:#202124;
    font-weight:400;
    text-decoration:none;
    font-size:12pt;
    font-family:"Roboto"
}
.c37{
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-family:"Arial";
    font-style:normal
}
.c108{
    padding-top:12pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:left
}
.c60{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}
.c40{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:justify
}
.c34{
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto
}
.c104{
    padding-top:0pt;
    padding-bottom:10pt;
    line-height:1.15;
    text-align:left
}
.c97{
    padding-top:13pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:left
}
.c33{
    text-decoration-skip-ink:none;
    -webkit-text-decoration-skip:none;
    color:#1155cc;
    text-decoration:underline
}
.c25{
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-style:normal
}
.c71{
    padding-top:0pt;
    padding-bottom:10pt;
    line-height:1.25;
    text-align:left
}
.c42{
    padding-top:3pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}
.c96{
    padding-top:10pt;
    padding-bottom:10pt;
    line-height:1.15;
    text-align:left
}
.c87{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:right
}
.c116{
    padding-top:5pt;
    padding-bottom:10pt;
    line-height:1.25;
    text-align:justify
}
.c102{
    padding-top:0pt;
    padding-bottom:3pt;
    line-height:1.15;
    text-align:left
}
.c93{
    margin-left:-1.5pt;
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto
}
.c55{
    text-decoration:none;
    vertical-align:baseline;
    font-size:20pt;
    font-style:normal
}
.c111{
    padding-top:18pt;
    padding-bottom:6pt;
    line-height:1.25;
    text-align:justify
}
.c11{
    font-family:"Montserrat";
    color:#f71963;
    font-weight:700
}
.c83{
    -webkit-text-decoration-skip:none;
    text-decoration:underline;
    text-decoration-skip-ink:none
}
.c27{
    font-family:"Helvetica Neue";
    color:#142032;
    font-weight:700
}
.c23{
    background-color:#ffffff;
    font-size:10.5pt;
    color:#232323
}
.c99{
    text-decoration:none;
    vertical-align:baseline;
    font-family:"Arial"
}
.c47{
    color:#142032;
    font-weight:300;
    font-family:"Helvetica Neue"
}
.c41{
    color:#000000;
    font-weight:700;
    font-family:"Arial"
}
.c92{
    font-family:"Roboto";
    color:#333333;
    font-weight:400
}
.c8{
    background-color:#ffffff;
    font-size:10pt;
    color:#404040
}
.c9{
    font-family:"Helvetica Neue";
    color:#142032;
    font-weight:400
}
.c65{
    orphans:2;
    widows:2
}
.c35{
    padding:0;
    margin:0
}
.c112{
    text-decoration:none;
    font-size:30pt
}
.c90{
    border:1px solid black;
    margin:5px
}
.c30{
    margin-left:72pt;
    padding-left:0pt
}
.c107{
    font-family:"Lato";
    color:#666666
}
.c84{
    text-decoration:none;
    font-size:31pt
}
.c100{
    padding-left:0pt;
    margin-left:46pt
}
.c18{
    color:inherit;
    text-decoration:inherit
}
.c72{
    vertical-align:baseline;
    font-style:normal
}
.c105{
    font-family:"Roboto";
    color:#202124
}
.c101{
    text-decoration:none;
    font-size:18pt
}
.c54{
    font-family:"Helvetica Neue";
    color:#f71963
}
.c29{
    margin-left:36pt;
    padding-left:0pt
}
.c77{
    color:#161616;
    font-size:12pt
}
.c85{
    padding:72pt 72pt 72pt 72pt
}
.c39{
    height:0pt
}
.c98{
    font-weight:400
}
.c89{
    margin-left:36pt
}
.c46{
    color:#000000
}
.c69{
    background-color:#ffffff
}
.c86{
    color:#1d1c1d
}
.c68{
    font-family:"Montserrat"
}
.c6{
    font-style:italic
}
.c62{
    font-family:"Helvetica Neue"
}
.c110{
    font-family:"Arial"
}
.c106{
    color:#3b3e4d
}
.c74{
    height:14pt
}
.c115{
    margin-left:-9pt
}
.c119{
    margin-right:0.2pt
}
.c58{
    font-size:11pt
}
.c44{
    font-size:10pt
}
.c114{
    font-size:9pt
}
.c57{
    color:#142032
}
.c79{
    height:20.9pt
}
.c118{
    text-decoration:none
}
.c75{
    height:11pt
}
.c61{
    text-indent:36pt
}
.c70{
    font-size:11.5pt
}
.c15{
    color:#f51963
}
.c49{
    font-weight:700
}
.c26{
    font-size:14pt
}
.c113{
    height:16pt
}
.c17{
    color:#242424
}
.c95{
    page-break-after:avoid
}
.c88{
    margin-left:23pt
}
.c73{
    font-size:16pt
}
.c117{
    color:#434343
}
.c103{
    font-size:12pt
}
.title{
    padding-top:0pt;
    color:#000000;
    font-size:26pt;
    padding-bottom:3pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:0pt;
    color:#666666;
    font-size:15pt;
    padding-bottom:16pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
h1{
    padding-top:20pt;
    color:#000000;
    font-size:20pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h2{
    padding-top:18pt;
    color:#000000;
    font-size:16pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:16pt;
    color:#434343;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:14pt;
    color:#666666;
    font-size:12pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}
