@font-face {
	font-family: "VTEXTrust Bold";
	src: url(../fonts/VTEXTrust-Bold.otf);
}

@font-face {
	font-family: "VTEXTrust Italic";
	src: url(../fonts/VTEXTrust-Italic.otf);
}

@font-face {
	font-family: "VTEXTrust Regular";
	src: url(../fonts/VTEXTrust-Regular.otf);
}

:root {
	--bg-1: #FFFFFF;
	--bg-2: #142032;
	--bg-3: #E7E9EE;
	--bg-4: #5E6E84;
	--bg-5: #F71963;
	--bg-6: #F8F7FC;
	--fc-1: #000000;
	--ff-regular: "VTEXTrust Regular";
	--ff-italic: "VTEXTrust Italic";
	--ff-bold: "VTEXTrust Bold";
	--col-regular: #000;
	--fs-1: clamp(0.9375rem, 0.9081rem + 0.0766vw, 1rem);
	--fs-2: clamp(1.125rem, 1.0662rem + 0.1531vw, 1.25rem);
	--fs-3: clamp(1.35rem, 1.2501rem + 0.2603vw, 1.5625rem);
    --fs-4: clamp(1.62rem, 1.4634rem + 0.4081vw, 1.9531rem);
    --fs-5: clamp(1.9438rem, 1.7099rem + 0.6095vw, 2.4413rem);
    --fs-6: clamp(2.3325rem, 1.9943rem + 0.8813vw, 3.0519rem);
}

* {
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--ff-regular), sans-serif;
}

body {
	background: var(--bg-1);
}

.item,
.material-symbols-outlined {
	vertical-align: middle;
}

.wrapper .sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	padding: 1rem 0;
	transition: all 0.5s ease;
	background-color: var(--bg-1);
}

.wrapper .sidebar .logo img {
	display: block;
	margin: 0 0 3rem 1rem;
}

.wrapper .sidebar ul li a {
	display: block;
	padding: 1rem 2.5rem;
	color: var(--fc-1);
	font-size: var(--fs-1);
	position: relative;
}

.wrapper .section {
	width: calc(100% - 85%);
	margin-left: 85%;
	transition: all 0.5s ease;
}

.wrapper .section .top_navbar {
	height: 3.75rem;
	display: flex;
	align-items: center;
	padding: 0 1.875rem;
}

.wrapper .section .top_navbar .hamburger a {
	font-size: var(--fs-4);
	color: var(--bg-4);
}

.wrapper .section .top_navbar .hamburger a:hover {
	color: var(--bg-5);
}

.top_navbar {
	margin-left: -1rem;
}

body .wrapper .sidebar {
	left: -85%;
}

body .wrapper .section {
	margin-left: 0;
	width: 100%;
}

body .wrapper .main-doc {
	margin-left: 0;
	transition: all 0.5s ease;
}

body.active .wrapper .sidebar {
	left: 0;
}

body.active .wrapper .section {
	margin-left: 0;
	width: 100%;
}

body.active .wrapper .main-doc {
	margin-left: 0;
	transition: all 0.5s ease;
}

.menu {
	text-align: center;
	font-size: var(--fs-2);
}

.main-doc {
	margin-left: 33ch; 
	transition: all 0.5s ease;
}

iframe {
	width: 100%;
	height: 100vh;
	border: none;
	padding-top: 3rem;
}

p {
	font-weight: bold;
}

#styleGuides>ul>li,
#reviewLogs>ul>li,
#glossaries>ul>li,
#translationMemories>ul>li {
	margin-left: 1.5rem;
	padding: 0.3rem;
}

#styleGuides>ul>li:hover,
#reviewLogs>ul>li:hover,
#glossaries>ul>li:hover,
#translationMemories>ul>li:hover {
	color: var(--bg-5);
}

.toggleMenu {
	color: var(--fc-1);
	margin: 0.5rem;
	margin-left: 1rem;
	scale: 1.3;
}

header {
	height: 15vh;
}

.header-text {
	display: inline-block;
	position: relative;
	border-bottom: 5px solid var(--bg-5);
	text-align: left;
	font-size: var(--fs-6);
	margin-left: 2rem;
}

header a {
	display: none;
	margin-left: 20rem;
	margin-top: 1.5rem;
	color: var(--fc-1);
	font-size: var(--fs-1);
	border: 1px solid var(--fc-1);
	border-radius: 40px;
	padding: 0.3rem;
}

header a:hover {
	border: 1px solid var(--bg-5);
}

.header-subtext {
	margin-left: 2rem;
	padding: 2rem 0;
	font-size: var(--fs-2);
}

.material-symbols-outlined {
	color: var(--fc-1);
}

.internalLogo {
	margin-top: -1rem;
}

/* Tablet and medium size screens */
@media only screen and (min-width: 768px) and (max-width: 1279px) {	
	.wrapper .sidebar {
		width: 75ch;
	}
	
	.wrapper .section {
		width: calc(100% - 73ch);
		margin-left: 73ch;
	}
	
	.wrapper .section .top_navbar .hamburger a {
		font-size: var(--fs-3);
	}
	
	.main-doc {
		margin-left: 33ch;
		transition: all 0.5s ease;
	}
	
	header {
		height: 20vh;
	}
	
	.header-text {
		font-size: var(--fs-5); 
		margin-left: 1.5rem;
	}
	
	.header-subtext {
		margin-left: 1.5rem;
		padding-top: 1rem;
	}
}

/* HD monitors*/
@media only screen and (min-width: 1280px) and (max-width: 1919px) {
	.header-text {
		padding-top: 1.5rem;
	}

	/* iframe {
		width: 80%;
	} */

	.wrapper .sidebar {
		width: 30.5ch;
	}

	/* .main-doc {
		margin-left: 17ch;
	} */

	body .wrapper .sidebar {
		left: 0;
	}
	
	body .wrapper .section {
		margin-left: 33ch;
		width: 100%;
	}
	
	body .wrapper .main-doc {
		margin-left: 33ch;
		transition: all 0.5s ease;
	}
	
	body.active .wrapper .sidebar {
		left: -33ch;
	}
	
	body.active .wrapper .section {
		margin-left: 33ch;
		width: calc(100% - 33ch);
	}
	
	body.active .wrapper .main-doc {
		margin-left: 33ch;
	}

	header {
		margin-left: 33ch;
	}

	.item.menu {
        margin-top: -3rem;
    }
}

/* Full HD monitors and above */
@media only screen and (min-width: 1920px) {
	.item,
	.material-symbols-outlined {
		vertical-align: middle;
	}

	.wrapper .sidebar {
		position: fixed;
		top: 0;
		left: 0;
		width: 35ch;
		height: 100%;
		padding: 1rem 0;
		transition: all 0.5s ease;
	}

	.wrapper .sidebar .logo img {
		display: block;
		margin: 0 auto;
		margin-bottom: 3rem;
	}

	.wrapper .sidebar ul li a {
		display: block;
		padding: 1rem 2.5rem;
		color: var(--fc-1);
		font-size: var(--fs-1);
		position: relative;
	}

	.wrapper .section {
		width: calc(100% - 33ch);
		margin-left: 33ch;
		transition: all 0.5s ease;
	}

	.wrapper .section .top_navbar {
		height: 3.75rem;
		display: flex;
		align-items: center;
		padding: 0 1.875rem;
	}

	.wrapper .section .top_navbar .hamburger a {
		font-size: var(--fs-4);
		color: var(--bg-4);
	}

	.wrapper .section .top_navbar .hamburger a:hover {
		color: var(--bg-5);
	}

	.top_navbar {
		margin-left: -1rem;
	}

	body.active .wrapper .sidebar {
		left: 0;
	}

	h1 {
		margin-top: -1rem;
	}

	.menu {
		text-align: center;
		font-size: var(--fs-2);
		margin-top: -3rem;
	}

	.main-doc {
		margin-left: 33ch;
		transition: all 0.5s ease;
	}

	iframe {
		margin: 0 10%;
		width: 80%;
		height: 100vh;
		border: none;
	}

	p {
		font-weight: bold;
	}

	#styleGuides>ul>li,
	#reviewLogs>ul>li,
	#glossaries>ul>li,
	#translationMemories>ul>li {
		margin-left: 1.5rem;
		padding: 0.3rem;
	}

	#styleGuides>ul>li:hover,
	#reviewLogs>ul>li:hover,
	#glossaries>ul>li:hover,
	#translationMemories>ul>li:hover {
		color: var(--bg-5);
	}

	header {
		height: 30vh;
	}

	.header-text {
		display: inline-block;
		position: relative;
		border-bottom: 5px solid var(--bg-5);
		text-align: left;
		font-size: var(--fs-6); 
		margin-left: 20rem;
		padding-top: 3rem;
	}

	header a {
		display: none;
		margin-left: 20rem;
		margin-top: 1.5rem;
		color: var(--fc-1);
		font-size: var(--fs-1);
		border: 1px solid var(--fc-1);
		border-radius: 40px;
		padding: 0.3rem;
	}

	header a:hover {
		border: 1px solid var(--bg-5);
	}

	.header-subtext {
		margin-left: 20rem;
		padding-top: 2rem;
		font-size: var(--fs-2);
		width: 55%;
	}

	.material-symbols-outlined {
		color: var(--fc-1);
	}

	.internalLogo {
		margin-top: -1rem;
	}

	body .wrapper .sidebar {
		left: 0;
	}
	
	body .wrapper .section {
		margin-left: 33ch;
		width: 100%;
	}
	
	body .wrapper .main-doc {
		margin-left: 33ch;
		transition: all 0.5s ease;
	}
	
	body.active .wrapper .sidebar {
		left: -33ch;
	}
	
	body.active .wrapper .section {
		margin-left: 33ch;
		width: calc(100% - 33ch);
	}
	
	body.active .wrapper .main-doc {
		margin-left: 33ch;
	}
}