@font-face {
   font-family: "VTEXTrust Regular";
   src: url(./fonts/VTEXTrust-Regular.otf);
}

:root {
    --bg-1: #F8F7FC;
    --bg-2: #1155CC;
    --bg-3: #F71963;
    --bg-4: #5E6E84; 
    --ff-regular: "VTEXTrust Regular";
}

* {
	text-decoration: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--ff-regular), sans-serif;
}

body {
	background: var(--bg-1);
}

h1 {
    color: var(--bg-3);
    font-size: 2.4rem;
    text-align: center;
    padding-bottom: 0.5rem;
    page-break-after: avoid;
}

h3 {
    color: var(--bg-3);
    page-break-after: avoid;
    margin: 0.5rem 0rem;
}

.text-link {
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    color: var(--bg-2);
    text-decoration: underline;
}

.doc-content {
    padding: 6rem;
    line-height: 1.5;
}

.intro-content {
    padding: 1rem 0rem;
}

.italic-font{
    font-style: italic;
}

.bold-font {
    font-weight: bolder;
}

table {
    margin-bottom: 2rem;
    border-spacing: 0;
    border-collapse: collapse;
}

.table-intro {
    padding-bottom: 1rem;
}

.table-internal {
    padding: 0.25rem 0.4rem;
    border: 1px solid var(--bg-4);
    font-size: 0.85rem;
}

.column-one {
    width: 10.5rem;
}

.column-two {
    width: 4.3rem;
}

.column-three {
    width: 23rem;
}

li {
    font-size: 0.9rem;
}

.bullet {
    margin-left: 3rem;
    line-height: 1.6;
}